<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Foods App</title>
  </head>
  <body>
    <a href="/foods">Browse Foods</a>
    <h1>Welcome to the Foods app!</h1>
    <img
    class="food-pic1"
    src="https://img.freepik.com/free-vector/set-breads-bakery-cartoon-style-vector_24797-2184.jpg?w=1060&t=st=1725933734~exp=1725934334~hmac=70fe3f0c6e84b4fdd85b7be2800a1b7fcd4827b886a3cbd967f5d6513720eb5a"
    alt="Fast food"
    />
    <p>An app for collecting your favorite foods.</p>
  </body>
  <footer>Icons by <a href="https://www.flaticon.com/authors/freepik">F
</html>
