<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit <%= food.name %></h1>
  <form action="/foods/<%= food._id%>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= food.name %>" />
    <label for="price">Price:</label>
    <input type="number" name="price" id="price" step="0.01" value="<%= food.price %>" />
    <button type="submit">Update Food</button>
  </form>
  <a href="/foods">Back to Fruits</a>
</body>
</html>