<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foods Index</title>
  </head>
  <body>
    <a href="/foods/new">Create a New Food</a>
    <h1>All Fruits</h1>
    <ul>
      <% foods.forEach(food => { %>
        <li><a href="/foods/<%= food._id %>"><%= food.name %></a></li>
        <!--Edit button to edit page-->
        <a href="/foods/<%= food._id %>/edit"><button type="button">Edit</button></a>
        <!-- new delete button -->
        <form action="/foods/<%= food._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
      <% }); %>
  </body>
</html>