<!-- views/fruits/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Food</title>
  </head>
  <body>
    <a href="/foods">Browse Foods</a>
    <h1>Create a New Food!</h1>
    <form action="/foods" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />
      <label for="price">Price:</label>
      <input type="number" name="price" id="price" />
      <button type="submit">Create Food</button>
  </body>
</html>
