<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= food.name %></title>
  </head>
  <body>
    <a href="/foods">Back Foods</a>
    <h1><%= food.name %></h1>
    <p>The food price is <%= food.price %> USD</p>
  </body>
</html>
